@model webPorjectCS.Models.Product
@using webPorjectCS.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>
    <div> 
        <span style="color:blue">Add Product: </span>
        @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
        {

            <i>enter Product Name: </i><div style="color:red"> @Html.TextBoxFor(m => m.ProductName) @Html.ValidationMessageFor(x => x.ProductName)</div>

            <i>enter Price  </i><div style="color:red">@Html.TextBoxFor(m => m.Price) @Html.ValidationMessageFor(x => x.Price)</div>

            <i>enter Serial Number  </i><div style="color:red">@Html.TextBoxFor(m => m.SN) @Html.ValidationMessageFor(x => x.SN)</div>

            <i>enter Amount  </i><div style="color:red">@Html.TextBoxFor(m => m.Amount) @Html.ValidationMessageFor(x => x.Amount)</div>


             <a href="/Product/AddProduct"> <button>Add Product</button></a>
                <br /><br />
       
        }

        <form action="Menu" method="post">
            <a href="/Product/Menu"> <button>Go back</button></a>
        </form>

            <br />
            @ViewData["error"]
</div>
</body>
</html>
